<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getsqlrestapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2bbc0c62-0cd5-497e-9097-90cc24a302ca/resourcegroups/Vhutshilo-R-Azure-Dev-Sandbox/providers/Microsoft.Web/sites/GETSQLRestAPI</ResourceId>
    <UserName>$GETSQLRestAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://getsqlrestapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>